<h1>Editing walk of life</h1>

<%= render "form", walk_of_life: @walk_of_life %>

<br>

<div>
  <%= link_to "Show this walk of life", @walk_of_life %> |
  <%= link_to "Back to walk of lives", walk_of_lives_path %>
</div>
